.App {
  text-align: center;
}

.container {
    background-color: #282c34;
    color: white;
    height: 100%;
    align-items: center;
}

.mainGrid {
    background-color: #282c34;
    color: white;
    height: 100vh;
    padding: 5%;
}